body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('/background-image.jpg');
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
}

p {
  margin: 0.1rem 0;
}

.container {
  min-height: 100vh;
  position: relative;
}

.weather {
  display: flex;
  padding: 2rem;
  height: 45vh;
  width: 50vw;
}

.weather__summary__section {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
  max-width: 300px;
  padding: 2rem 2rem;
}

.weather__day {
  font-size: 3rem;
  font-weight: 600;
}

.weather__date {
  padding-left: 5px;
}

.weather__location {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  font-weight: 600;
  margin-top: 1rem;
}

.weather__icon {
  width: 60px;
  height: 60px;
}

.weather__temp {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.weather__type {
  font-weight: 600;
  letter-spacing: 2px;
}

.weather__right__section {
  background-color: white;
  flex: 1;
  max-width: 300px;
  padding: 2rem 2rem;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  justify-content: space-between;
}

.weather__stat__section {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.weather__stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.weather__form {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.weather__form__input {
  padding: 0.5rem 0 0.5rem 0.5rem;
  border: none;
  font-size: 1rem;
  width: calc(100% - 0.5rem);
  outline: none;
}

.weather__form__input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.weather__form__button {
  padding: 0.5rem;
  border: none;
  background-color: white;
  outline: none;
  cursor: pointer;
}

.weather__form__button > img {
  width: 20px;
  height: 20px;
}

::placeholder {
  color: black;
}

/* Top Cities Section */

.top__cities__section {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: white;
  padding-bottom: 2rem;
}

.top__city__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 4rem 2rem 2rem;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  margin: 0 0 1rem 2rem;
}

.top__city__card__city {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 1rem;
}

.top__city__weather__icon {
  width: 60px;
  height: 60px;
  margin-bottom: 0.5rem;
}

.top__city__weather__temp {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.top__city__weather__type {
  font-weight: 400;
  font-size: 0.9rem;
}

/* media queries */

@media (max-width: 550px) {
  .weather {
    flex-direction: column;
    padding: 1rem;
  }

  .weather__day {
    font-size: 2rem;
  }

  .weather__temp {
    font-size: 2rem;
  }

  .weather__summary__section {
    max-width: 100%;
    padding: 1rem;
  }

  .weather__right__section {
    max-width: 100%;
    padding: 1rem;
  }

  .top__cities__section {
    margin-top: 1rem;
  }

  .top__city__card {
    margin: 0 0 1rem 1rem;
    padding: 1rem;
  }

  .top__city__card__city {
    font-size: 1rem;
  }

  .top__city__weather__temp {
    font-size: 1.5rem;
  }
}
